In [33]:
import pandas as pd

In [34]:
data = pd.read_csv("C:/Users/user/Desktop/weatherAUS.csv")

In [35]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [37]:
data.dropna(subset=['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'], inplace=True)

In [38]:
data['Evaporation'].fillna(data['Evaporation'].mean(), inplace=True)
data['Sunshine'].fillna(data['Sunshine'].mean(), inplace=True)
data['Cloud9am'].fillna(data['Cloud9am'].mean(), inplace=True)
data['Cloud3pm'].fillna(data['Cloud3pm'].mean(), inplace=True)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119702 entries, 0 to 145458
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           119702 non-null  object
 1   Location       119702 non-null  object
 2   MinTemp        119702 non-null  float64
 3   MaxTemp        119702 non-null  float64
 4   Rainfall       119702 non-null  float64
 5   Evaporation    119702 non-null  float64
 6   Sunshine       119702 non-null  float64
 7   WindGustDir    119674 non-null  object
 8   WindGustSpeed  119702 non-null  float64
 9   WindDir9am     113366 non-null  object
 10  WindDir3pm     119075 non-null  object
 11  WindSpeed9am   119629 non-null  float64
 12  WindSpeed3pm   119649 non-null  float64
 13  Humidity9am    119702 non-null  float64
 14  Humidity3pm    119702 non-null  float64
 15  Pressure9am    119702 non-null  float64
 16  Pressure3pm    119702 non-null  float64
 17  Cloud9am       119702 non-null  float64
 18  Cloud3pm       119702 non-null  float64
 19  Temp9am        119702 non-null  float64
 20  Temp3pm        119702 non-null  float64
 21  RainToday      119702 non-null  object
 22  RainTomorrow   119702 non-null  object
dtypes: float64(16), object(7)
memory usage: 21.9+ MB

In [40]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No

In [12]:
df = pd.get_dummies(data, columns=['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow'])

In [13]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,...,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes,RainTomorrow_No,RainTomorrow_Yes
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,44.0,20.0,24.0,...,False,False,False,False,True,False,True,False,True,False
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,44.0,4.0,22.0,...,False,False,False,False,False,True,True,False,True,False
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,46.0,19.0,26.0,...,False,False,False,False,False,True,True,False,True,False
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,24.0,11.0,9.0,...,False,False,False,False,False,False,True,False,True,False
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,41.0,7.0,20.0,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,31.0,15.0,13.0,...,False,False,False,False,False,False,True,False,True,False
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,31.0,13.0,11.0,...,False,False,False,False,False,False,True,False,True,False
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,22.0,13.0,9.0,...,False,False,False,False,False,False,True,False,True,False
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,37.0,9.0,9.0,...,False,False,False,False,True,False,True,False,True,False
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,28.0,13.0,7.0,...,False,False,False,False,False,False,True,False,True,False

In [41]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No

In [42]:
data['Date'] = pd.to_datetime(data['Date'])

In [43]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No

In [44]:
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

In [45]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No,6,20
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No,6,21
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No,6,22
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No,6,23
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No,6,24

In [46]:
data['Month'] = pd.to_datetime(data['Date']).dt.month

In [47]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No,6,20
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No,6,21
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No,6,22
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No,6,23
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No,6,24

In [48]:
data['Month'] = data['Date'].dt.month

In [49]:
data.drop(columns=['Date'], inplace=True)

In [50]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No,12,1
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No,12,2
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No,12,3
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No,12,4
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No,6,20
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No,6,21
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No,6,22
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No,6,23
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No,6,24

In [51]:
categorical_columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']
for column in categorical_columns:
    mode_value = data[column].mode()[0]  # Calculer le mode de la colonne
    data[column].fillna(mode_value, inplace=True)  # Remplacer les valeurs manquantes par le mode

In [52]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,No,No,12,1
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,No,No,12,2
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,No,No,12,3
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,No,No,12,4
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,No,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,No,No,6,20
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,No,No,6,21
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,No,No,6,22
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,No,No,6,23
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,No,No,6,24

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119702 entries, 0 to 145458
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       119702 non-null  object
 1   MinTemp        119702 non-null  float64
 2   MaxTemp        119702 non-null  float64
 3   Rainfall       119702 non-null  float64
 4   Evaporation    119702 non-null  float64
 5   Sunshine       119702 non-null  float64
 6   WindGustDir    119702 non-null  object
 7   WindGustSpeed  119702 non-null  float64
 8   WindDir9am     119702 non-null  object
 9   WindDir3pm     119702 non-null  object
 10  WindSpeed9am   119629 non-null  float64
 11  WindSpeed3pm   119649 non-null  float64
 12  Humidity9am    119702 non-null  float64
 13  Humidity3pm    119702 non-null  float64
 14  Pressure9am    119702 non-null  float64
 15  Pressure3pm    119702 non-null  float64
 16  Cloud9am       119702 non-null  float64
 17  Cloud3pm       119702 non-null  float64
 18  Temp9am        119702 non-null  float64
 19  Temp3pm        119702 non-null  float64
 20  RainToday      119702 non-null  object
 21  RainTomorrow   119702 non-null  object
 22  Month          119702 non-null  int32
 23  Day            119702 non-null  int32
dtypes: float64(16), int32(2), object(6)
memory usage: 21.9+ MB

In [54]:
data['RainToday'] = data['RainToday'].replace({'No': 0, 'Yes': 1})
data['Tomorrow'] = data['RainTomorrow'].replace({'No': 0, 'Yes': 1})

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119702 entries, 0 to 145458
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       119702 non-null  object
 1   MinTemp        119702 non-null  float64
 2   MaxTemp        119702 non-null  float64
 3   Rainfall       119702 non-null  float64
 4   Evaporation    119702 non-null  float64
 5   Sunshine       119702 non-null  float64
 6   WindGustDir    119702 non-null  object
 7   WindGustSpeed  119702 non-null  float64
 8   WindDir9am     119702 non-null  object
 9   WindDir3pm     119702 non-null  object
 10  WindSpeed9am   119629 non-null  float64
 11  WindSpeed3pm   119649 non-null  float64
 12  Humidity9am    119702 non-null  float64
 13  Humidity3pm    119702 non-null  float64
 14  Pressure9am    119702 non-null  float64
 15  Pressure3pm    119702 non-null  float64
 16  Cloud9am       119702 non-null  float64
 17  Cloud3pm       119702 non-null  float64
 18  Temp9am        119702 non-null  float64
 19  Temp3pm        119702 non-null  float64
 20  RainToday      119702 non-null  int64
 21  RainTomorrow   119702 non-null  object
 22  Month          119702 non-null  int32
 23  Day            119702 non-null  int32
 24  Tomorrow       119702 non-null  int64
dtypes: float64(16), int32(2), int64(2), object(5)
memory usage: 22.8+ MB

In [56]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day,Tomorrow
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,1007.1,8.00000,4.488819,16.9,21.8,0,No,12,1,0
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,1007.8,4.41763,4.488819,17.2,24.3,0,No,12,2,0
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,1008.7,4.41763,2.000000,21.0,23.2,0,No,12,3,0
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,1012.8,4.41763,4.488819,18.1,26.5,0,No,12,4,0
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,1006.0,7.00000,8.000000,17.8,29.7,0,No,12,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,1021.2,4.41763,4.488819,9.4,20.9,0,No,6,20,0
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,1020.3,4.41763,4.488819,10.1,22.4,0,No,6,21,0
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,1019.1,4.41763,4.488819,10.9,24.5,0,No,6,22,0
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,1016.8,4.41763,4.488819,12.5,26.1,0,No,6,23,0
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,1016.5,3.00000,2.000000,15.1,26.0,0,No,6,24,0

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119702 entries, 0 to 145458
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       119702 non-null  object
 1   MinTemp        119702 non-null  float64
 2   MaxTemp        119702 non-null  float64
 3   Rainfall       119702 non-null  float64
 4   Evaporation    119702 non-null  float64
 5   Sunshine       119702 non-null  float64
 6   WindGustDir    119702 non-null  object
 7   WindGustSpeed  119702 non-null  float64
 8   WindDir9am     119702 non-null  object
 9   WindDir3pm     119702 non-null  object
 10  WindSpeed9am   119629 non-null  float64
 11  WindSpeed3pm   119649 non-null  float64
 12  Humidity9am    119702 non-null  float64
 13  Humidity3pm    119702 non-null  float64
 14  Pressure9am    119702 non-null  float64
 15  Pressure3pm    119702 non-null  float64
 16  Cloud9am       119702 non-null  float64
 17  Cloud3pm       119702 non-null  float64
 18  Temp9am        119702 non-null  float64
 19  Temp3pm        119702 non-null  float64
 20  RainToday      119702 non-null  int64
 21  RainTomorrow   119702 non-null  object
 22  Month          119702 non-null  int32
 23  Day            119702 non-null  int32
 24  Tomorrow       119702 non-null  int64
dtypes: float64(16), int32(2), int64(2), object(5)
memory usage: 22.8+ MB

In [58]:
data = data.drop(columns=['Tomorrow'])

In [59]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,0,No,12,1
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,0,No,12,2
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,0,No,12,3
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,0,No,12,4
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,0,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,0,No,6,20
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,0,No,6,21
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,0,No,6,22
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,0,No,6,23
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,0,No,6,24

In [60]:
# Transformer les variables catégorielles en identifiants numériques
cat_columns = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
for col in cat_columns:
    df[col + '_id'], _ = pd.factorize(data[col])

In [61]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,...,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes,RainTomorrow_No,RainTomorrow_Yes,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id
0,2008-12-01,Albury,13.4,22.9,0.6,5.507191,7.682975,44.0,20.0,24.0,...,True,False,True,False,True,False,0,0,0,0
1,2008-12-02,Albury,7.4,25.1,0.0,5.507191,7.682975,44.0,4.0,22.0,...,False,True,True,False,True,False,0,1,1,1
2,2008-12-03,Albury,12.9,25.7,0.0,5.507191,7.682975,46.0,19.0,26.0,...,False,True,True,False,True,False,0,2,0,1
3,2008-12-04,Albury,9.2,28.0,0.0,5.507191,7.682975,24.0,11.0,9.0,...,False,False,True,False,True,False,0,3,2,2
4,2008-12-05,Albury,17.5,32.3,1.0,5.507191,7.682975,41.0,7.0,20.0,...,False,False,True,False,True,False,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,5.507191,7.682975,31.0,15.0,13.0,...,False,False,True,False,True,False,43,14,11,2
145455,2017-06-21,Uluru,2.8,23.4,0.0,5.507191,7.682975,31.0,13.0,11.0,...,False,False,True,False,True,False,43,14,2,7
145456,2017-06-22,Uluru,3.6,25.3,0.0,5.507191,7.682975,22.0,13.0,9.0,...,False,False,True,False,True,False,43,4,2,12
145457,2017-06-23,Uluru,5.4,26.9,0.0,5.507191,7.682975,37.0,9.0,9.0,...,True,False,True,False,True,False,43,5,2,0
145458,2017-06-24,Uluru,7.8,27.0,0.0,5.507191,7.682975,28.0,13.0,7.0,...,False,False,True,False,True,False,43,12,5,12

In [62]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,1007.7,1007.1,8.00000,4.488819,16.9,21.8,0,No,12,1
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,1010.6,1007.8,4.41763,4.488819,17.2,24.3,0,No,12,2
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,1007.6,1008.7,4.41763,2.000000,21.0,23.2,0,No,12,3
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,1017.6,1012.8,4.41763,4.488819,18.1,26.5,0,No,12,4
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,1010.8,1006.0,7.00000,8.000000,17.8,29.7,0,No,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,1024.7,1021.2,4.41763,4.488819,9.4,20.9,0,No,6,20
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,1024.6,1020.3,4.41763,4.488819,10.1,22.4,0,No,6,21
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,1023.5,1019.1,4.41763,4.488819,10.9,24.5,0,No,6,22
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,1021.0,1016.8,4.41763,4.488819,12.5,26.1,0,No,6,23
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,1019.4,1016.5,3.00000,2.000000,15.1,26.0,0,No,6,24

In [63]:
# Transformer les variables catégorielles en identifiants numériques
cat_columns = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
for col in cat_columns:
    data[col + '_id'], _ = pd.factorize(data[col])

In [64]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,16.9,21.8,0,No,12,1,0,0,0,0
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,17.2,24.3,0,No,12,2,0,1,1,1
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,21.0,23.2,0,No,12,3,0,2,0,1
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,18.1,26.5,0,No,12,4,0,3,2,2
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,17.8,29.7,0,No,12,5,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,9.4,20.9,0,No,6,20,43,14,11,2
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,10.1,22.4,0,No,6,21,43,14,2,7
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,10.9,24.5,0,No,6,22,43,4,2,12
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,12.5,26.1,0,No,6,23,43,5,2,0
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,15.1,26.0,0,No,6,24,43,12,5,12

In [68]:
data['RainTomorrow'] = data['RainTomorrow'].replace({'No': 0, 'Yes': 1})

In [69]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Temp3pm,RainToday,RainTomorrow,Month,Day,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id,Tomorrow
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,21.8,0,0,12,1,0,0,0,0,0
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,24.3,0,0,12,2,0,1,1,1,0
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,23.2,0,0,12,3,0,2,0,1,0
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,26.5,0,0,12,4,0,3,2,2,0
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,29.7,0,0,12,5,0,0,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,20.9,0,0,6,20,43,14,11,2,0
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,22.4,0,0,6,21,43,14,2,7,0
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,24.5,0,0,6,22,43,4,2,12,0
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,26.1,0,0,6,23,43,5,2,0,0
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,26.0,0,0,6,24,43,12,5,12,0

In [70]:
data = data.drop(columns=['Tomorrow'])

In [71]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id
0,Albury,13.4,22.9,0.6,5.507191,7.682975,W,44.0,W,WNW,...,16.9,21.8,0,0,12,1,0,0,0,0
1,Albury,7.4,25.1,0.0,5.507191,7.682975,WNW,44.0,NNW,WSW,...,17.2,24.3,0,0,12,2,0,1,1,1
2,Albury,12.9,25.7,0.0,5.507191,7.682975,WSW,46.0,W,WSW,...,21.0,23.2,0,0,12,3,0,2,0,1
3,Albury,9.2,28.0,0.0,5.507191,7.682975,NE,24.0,SE,E,...,18.1,26.5,0,0,12,4,0,3,2,2
4,Albury,17.5,32.3,1.0,5.507191,7.682975,W,41.0,ENE,NW,...,17.8,29.7,0,0,12,5,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,5.507191,7.682975,E,31.0,ESE,E,...,9.4,20.9,0,0,6,20,43,14,11,2
145455,Uluru,2.8,23.4,0.0,5.507191,7.682975,E,31.0,SE,ENE,...,10.1,22.4,0,0,6,21,43,14,2,7
145456,Uluru,3.6,25.3,0.0,5.507191,7.682975,NNW,22.0,SE,N,...,10.9,24.5,0,0,6,22,43,4,2,12
145457,Uluru,5.4,26.9,0.0,5.507191,7.682975,N,37.0,SE,WNW,...,12.5,26.1,0,0,6,23,43,5,2,0
145458,Uluru,7.8,27.0,0.0,5.507191,7.682975,SE,28.0,SSE,N,...,15.1,26.0,0,0,6,24,43,12,5,12

In [72]:
cat_columns = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
for col in cat_columns:
    data[col] = data[col].astype('category').cat.codes

In [73]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id
0,1,13.4,22.9,0.6,5.507191,7.682975,13,44.0,13,14,...,16.9,21.8,0,0,12,1,0,0,0,0
1,1,7.4,25.1,0.0,5.507191,7.682975,14,44.0,6,15,...,17.2,24.3,0,0,12,2,0,1,1,1
2,1,12.9,25.7,0.0,5.507191,7.682975,15,46.0,13,15,...,21.0,23.2,0,0,12,3,0,2,0,1
3,1,9.2,28.0,0.0,5.507191,7.682975,4,24.0,9,0,...,18.1,26.5,0,0,12,4,0,3,2,2
4,1,17.5,32.3,1.0,5.507191,7.682975,13,41.0,1,7,...,17.8,29.7,0,0,12,5,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,36,3.5,21.8,0.0,5.507191,7.682975,0,31.0,2,0,...,9.4,20.9,0,0,6,20,43,14,11,2
145455,36,2.8,23.4,0.0,5.507191,7.682975,0,31.0,9,1,...,10.1,22.4,0,0,6,21,43,14,2,7
145456,36,3.6,25.3,0.0,5.507191,7.682975,6,22.0,9,3,...,10.9,24.5,0,0,6,22,43,4,2,12
145457,36,5.4,26.9,0.0,5.507191,7.682975,3,37.0,9,14,...,12.5,26.1,0,0,6,23,43,5,2,0
145458,36,7.8,27.0,0.0,5.507191,7.682975,9,28.0,10,3,...,15.1,26.0,0,0,6,24,43,12,5,12

In [74]:
data.drop(columns=cat_columns, inplace=True)

In [75]:
data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,Temp9am,Temp3pm,RainToday,RainTomorrow,Month,Day,Location_id,WindGustDir_id,WindDir9am_id,WindDir3pm_id
0,13.4,22.9,0.6,5.507191,7.682975,44.0,20.0,24.0,71.0,22.0,...,16.9,21.8,0,0,12,1,0,0,0,0
1,7.4,25.1,0.0,5.507191,7.682975,44.0,4.0,22.0,44.0,25.0,...,17.2,24.3,0,0,12,2,0,1,1,1
2,12.9,25.7,0.0,5.507191,7.682975,46.0,19.0,26.0,38.0,30.0,...,21.0,23.2,0,0,12,3,0,2,0,1
3,9.2,28.0,0.0,5.507191,7.682975,24.0,11.0,9.0,45.0,16.0,...,18.1,26.5,0,0,12,4,0,3,2,2
4,17.5,32.3,1.0,5.507191,7.682975,41.0,7.0,20.0,82.0,33.0,...,17.8,29.7,0,0,12,5,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,3.5,21.8,0.0,5.507191,7.682975,31.0,15.0,13.0,59.0,27.0,...,9.4,20.9,0,0,6,20,43,14,11,2
145455,2.8,23.4,0.0,5.507191,7.682975,31.0,13.0,11.0,51.0,24.0,...,10.1,22.4,0,0,6,21,43,14,2,7
145456,3.6,25.3,0.0,5.507191,7.682975,22.0,13.0,9.0,56.0,21.0,...,10.9,24.5,0,0,6,22,43,4,2,12
145457,5.4,26.9,0.0,5.507191,7.682975,37.0,9.0,9.0,53.0,24.0,...,12.5,26.1,0,0,6,23,43,5,2,0
145458,7.8,27.0,0.0,5.507191,7.682975,28.0,13.0,7.0,51.0,24.0,...,15.1,26.0,0,0,6,24,43,12,5,12

In [76]:

X = data.drop(columns=['RainTomorrow'])  
y = data['RainTomorrow']

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
from sklearn.preprocessing import StandardScaler

In [80]:
# Normalize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [81]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\user\anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [84]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1, activation='sigmoid') ])

WARNING:tensorflow:From c:\Users\user\anaconda\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [85]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\user\anaconda\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [86]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
WARNING:tensorflow:From c:\Users\user\anaconda\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\user\anaconda\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

2993/2993 [==============================] - 4s 1ms/step - loss: 0.5290 - accuracy: 0.7809 - val_loss: 0.5262 - val_accuracy: 0.7807
Epoch 2/10
2993/2993 [==============================] - 4s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5260 - val_accuracy: 0.7807
Epoch 3/10
2993/2993 [==============================] - 4s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5260 - val_accuracy: 0.7807
Epoch 4/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5263 - val_accuracy: 0.7807
Epoch 5/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5264 - val_accuracy: 0.7807
Epoch 6/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5260 - val_accuracy: 0.7807
Epoch 7/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5264 - val_accuracy: 0.7807
Epoch 8/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5261 - val_accuracy: 0.7807
Epoch 9/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5259 - accuracy: 0.7810 - val_loss: 0.5261 - val_accuracy: 0.7807
Epoch 10/10
2993/2993 [==============================] - 3s 1ms/step - loss: 0.5258 - accuracy: 0.7810 - val_loss: 0.5263 - val_accuracy: 0.7807

In [87]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

749/749 [==============================] - 1s 744us/step - loss: 0.5263 - accuracy: 0.7807
Test accuracy: 0.7807109355926514